footer.container.py-5 
    .row 
        .col-md-6 
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.nav-link(href="/about-us") Nosotros 
                a.nav-link(href="/trips") Viajes
                a.nav-link(href="/testimonials") Testimoniales 

        .col-md-6
            p.copyright.tex-center.text-md-right
                | Todos los Derechos Reservados 
                span= currentlyYear